html {
  scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

canvas {
  vertical-align: top;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  height: 100vh;
  grid-template-areas:
    "menu main";
}

.main, #myCanvas {
  grid-area: main;
}

.menu {
grid-area: menu;
width: 255px;
}

.project {
  min-height: 100vh;
  position: absolute;
  top: 0px;
  background-color: #fff;
}

.subproject {
  padding-left: 30px;
}

h1 {
  color: #000000;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  padding: 20px 20px 0px 30px;
  margin: 0;
}

p, ul, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  padding: 0px 20px 0px 30px;
  max-width: 50%;
}

h3 {
  font-weight: 700;
  padding: 20px 20px 0px 30px;
}

.top {
  padding: 40px 20px 20px 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  padding: 50px 0px 30px 30px;
  max-width: 50%;
  margin: 0;
  font-weight: 400;
}

img, iframe {
  max-width: 80%;
  padding: 0px 20px 20px 30px;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  line-height: 1.9em;
}

#plink {
  color: blue;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
.active {
  color: black;
  font-weight: 700;
  line-height: 1.9em;
}

/* MOBILE */
@media screen and (max-width: 700px) {
 
  .container {
    display: block;
  }
  
  #myCanvas {
    display: none;
  }

  .menu {
    width: 100%;
  }

  h1,h3 {
    font-size: 1.2em;
    padding: 5px 20px 0px 20px;
    max-width: 90%

  }

  p, ul, h4 {
    font-size: 0.9em;
    padding: 0px 20px 0px 20px;
    max-width: 90%;
  }

  img, iframe {
    max-width: 90%;
    padding: 0px 5px 0px 5px;
  }

  .top {
    padding: 0px 5px 0px 5px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
 

  h1,h3 {
    max-width: 90%
  }

  p, ul, h4 {
    max-width: 90%;
  }

  img, iframe {
    max-width: 90%;
  }

}
