@font-face {
  font-family: 'gt_walsheim_promedium';
  src: url('../assets/fonts/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/gtwalsheimpro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gt_walsheim_probold';
  src: url('../assets/fonts/gtwalsheimpro-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/gtwalsheimpro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  /* scroll-behavior: smooth; */
  background-color: #f2f2f2;

}

body {
    margin: 0 auto;
    position: relative;
}

/* canvas[resize] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
} */


h1, h2 {
  color: #000;
  font-family: 'gt_walsheim_promedium', sans-serif;
  font-size: 1em;
  font-weight: 90;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 40px;
}

.social {
  text-align: right;
}

.intro h2 {
  color: #cccccc;
  font-family: 'gt_walsheim_probold', sans-serif;
  font-size: 3.5em;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  line-height: 1.2em;

  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  0% {
    /* transform: translateX(-10px); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  /* from {  }
  to   {  } */
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

p {
  /* width: 100%; */
  color: #999999;
  padding-left: 50px;
  padding-right: 20px;
  line-height: 2.1em;
  font-family: 'gt_walsheim_promedium', sans-serif;
  font-size: 1em;
  font-weight: 80;
  margin: 0;
  /* padding-bottom: 50px; */

  -webkit-animation: fadein 2s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.title {
  color: black;
  padding-bottom: 0;
  padding-top: 50px;
}

.faded {
  color: #cccccc;
}

footer h2 {
 
  color: #cccccc;
  font-family: 'gt_walsheim_probold', sans-serif;
  font-size: 3.5em;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 40px;
  line-height: 1.2em;
}

.contact h2 {
  color: #000;
  font-family: 'gt_walsheim_promedium', sans-serif;
  font-size: 1em;
  font-weight: 90;
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

p.copyright {
  font-size: 0.9em;
  padding-bottom: 20px;
  text-align: left;
}
/* 
ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 4.5em;
  line-height: 1.2em;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
	/* -webkit-transform: translate3d(30px, 0, 0);
	transform: translate3d(30px,0,0); */
  transform: skewX(0deg)
} */


a:hover li.selected {
 color: #000;
}

iframe {
  max-width: 80%;
  padding: 0px 20px 20px 30px;
}

a, a:link {
  text-decoration: none;
  color: #0da6ff;
}

h1 a, h1 a:link, h1 a:visited {
  color: black;
}

h1 a:hover {
  color: #f2f2f2;
}


/* visited link */
a:visited {
  text-decoration: none;
  color:#0da6ff;
}


/* hover */
a:hover.bottom-nav, a:hover h1, a:hover h2, a:hover {
  color: #ffff00;
}

/* selected link */
.active {
  color: black;
}


.hi {
  position: relative;
}

#emoji {
  position: absolute;
  left: 180px;
  top: 100px;
  padding: 0;
  margin: 0;

  /* transition: transform 0.2s ease-in-out; */
}

.toggleword {
  color: #19bf70;
}
 
/* TABLET */
@media screen and (max-width: 850px) {
  .contact {
    display: block;
  }

}

/* MOBILE */
@media screen and (max-width: 600px) {
 

}
