body {
    margin: 0 auto;
}

canvas {
  vertical-align: top;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  height: 100vh;
  grid-template-areas:
    "menu main";
}

.main, #myCanvas {
  grid-area: main;
}

.menu {
grid-area: menu;
width: 255px;
}

h1 {
  color: #000000;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  padding: 20px 20px 0px 30px;
  margin: 0;
}

p, ul {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  padding: 0px 20px 0px 30px;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  line-height: 1.7em;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: black;
  font-weight: 700;
}

/* MOBILE */
@media screen and (max-width: 425px) {
 
  .container {
    display: flex;
  }
  
  .menu {
    width: 100%;
  }
}
